<!-- Navigation Menu -->
<div id="app-toolbar" class="app-toolbar"></div>
<div class="application-splitter"></div>
<div class="app-container">
    <div class="render_position"></div>
</div>
<div class="application-splitter"></div>
<!--Footer area-->
<div class="app-footer">
    <div class="status-area">&nbsp;</div>
    <div class="information">Just a simple page I'm currently playing around with</div>
</div>
