<!-- Navigation Menu -->
<div id="app-toolbar" class="app-toolbar"></div>
<!--<div class="ui four item inverted orange menu">
    <div class="header item">
        <i class="money bill alternate outline icon"></i>
        <span>Single Page App</span>
    </div>
    <a class="item" href="/">
        Currency Rates
    </a>
    <a class="item" href="/exchange">
        Exchange Rates Changed
    </a>
    <a class="item" href="/historical">
        Historical Rates
    </a>
</div>-->
<div class="application-splitter"></div>
<div class="app-container">
    <h2>This is a simple application container.</h2>
    <h2>This is an addition</h2>
    <h1>Changed</h1>
</div>
<div class="application-splitter"></div>
<!--Footer area-->
<div class="app-footer">
    <div class="status-area">&nbsp;</div>
    <div class="information">Just a simple page I'm currently playing around with</div>
</div>
